﻿@using Data.Criteria;
@model IEnumerable<Data.Student>
@{
    ViewBag.Title = "Index";
}

<h2>List Students</h2>

@using (Html.BeginForm("Index", "Student", new StudentCriteria { }, FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    <div class="form-group">
        <div class="col-sm-2">
            <input type="text" class="form-control" id="Name" name="Name" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
        @Html.ActionLink("Create New", "Create")
    </div>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Year</td>
                <td></td>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Year</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
                </td>
            </tr>
        }
    </table>
}